---
import LibraryIcon from "@/icons/LibraryIcon.astro";
import HomeIcon from "@/icons/HomeIcon.astro";
import SearchIcon from "@/icons/SearchIcon.astro";
import SideMenuItem from "@/components/SideMenuItem.astro";
import { playlists } from "@/domain/playlists";
import SideMenuPlaylistItem from "@/components/SideMenuPlaylistItem.astro";
---

<nav class="flex flex-col flex-1 gap-2">
  <div class="p-2 rounded-lg bg-zinc-900">
    <ul>
      <SideMenuItem href="/">
        <HomeIcon />
        Home
      </SideMenuItem>
    </ul>
  </div>
  <div class="p-2 rounded-lg bg-zinc-900 flex-1">
    <ul>
      <span
        class="flex text-zinc-400 gap-4 items-center py-2">
        <LibraryIcon />
        Your Library
      </span>
      {
        playlists.map((playlist) => (
          <SideMenuPlaylistItem playlist={playlist} />
        ))
      }
    </ul>
  </div>
</nav>
